/* Foundation v2.1.5 http://foundation.zurb.com */
/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Fonts
:: Sortable styles
:: Page Name 1
:: Page Name 2
*/

/* -----------------------------------------
   Fonts
----------------------------------------- */
@import url(http://fonts.googleapis.com/css?family=Poly:400,400italic);

body
{
	font-family: 'Poly', serif;
	padding-top:50px;
}

h1
{
	font-size:20px;
	color:#9C1616;
}

h2
{
	font-size:18px;
	border-bottom:2px solid #222;
	background:#999;
	padding:3px;
	color:#fff;
}

p
{
	font-size:16px;
}

p.flush
{
	float:right;
	text-align:right;
}
/* -----------------------------------------
   Sortable Styles
----------------------------------------- */
.ui-state-highlight
{
	height:110px;
}

.placeholder
{
	height:110px !important;
	background:#ccc;
}


/* -----------------------------------------
   Page Name 1
----------------------------------------- */




/* -----------------------------------------
   Page Name 2
----------------------------------------- */


